.app {
  min-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-page);
}

.content {
  flex: 1;
  height: calc(100vh - 64px);
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-16);
  padding-top: var(--spacing-20);
  overflow: hidden;
}
